!!!5
%html
  %head
    = haml :_head
  %body
    %h1 TreasureData Stats
    #display
    .container
      %h4 クエリ実行時間（最新10,000件）
      #elapsed
    .container
      %h4 クエリ実行時間分布（最新10,000件）
      #elapsed_dist

    %table
      %tr
        %td
          .container
            %h4
              クエリ実行回数
              %span#all-previous
                %button prev
              %span#all-next
                %button next
            #cal-heatmap-all
        %td
          .container
            %h4
              クエリエラー回数
              %span#error-previous
                %button prev
              %span#error-next
                %button next
            #cal-heatmap-error
        %td
          .container
            %h4
              実行中ジョブ（10分間隔で更新）
            %span#running
            jobs running or queued

        - YAML::load(File.read('config.yml'))['default']['td']['databases'].each do |database|
          %tr{class: database}
            %td
              .container
                %h4
                  = "クエリ実行回数 (#{database})"
                  %span{id: "#{database}-previous"}
                    %button prev
                  %span{id: "#{database}-next"}
                    %button next
                %div{id: "cal-heatmap-#{database}"}
            %td
              .container
                %h4
                  = "クエリエラー回数 (#{database})"
                  %span{id: "#{database}-error-previous"}
                    %button prev
                  %span{id: "#{database}-error-next"}
                    %button next
                %div{id: "cal-heatmap-error-#{database}"}
            %td
              .container
                %h4
                  = "レコード数 (#{database})"
                  %span.delta{id: "delta-#{database}"}
                %div{id: "count-#{database}"}
